#header {
    padding: 60px;
    text-align:left;
    color:ghostwhite;
    font-size: 70px;
}

#content {
    padding: 20px;
    font-size: 40px;
    color:midnightblue;
}

#name {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#Lname {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#email{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#Comment{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#com{
    font-size: 40px;
    width: 10%;
    color:midnightblue;
}

#Issues{
    font-size: 20px;
    width: 15%;
}

#sub{
    font-size: 30px;
    width: 10%;
    color:darkturquoise;
}

#show {
    color: azure;
    font-size: 35px;
}

#sho {
    color: azure;
    font-size: 35px;
}

#sh {
    color: azure;
    font-size: 35px;
}

#dis {
    color: cornsilk;
    font-size: 50px;
}

#Issu {
    color: azure;
    font-size: 35px;
}

#co {
    color: azure;
    font-size: 35px;
}


